.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

.tts-app {
    max-width: 940px;
    margin: 2rem auto;
    padding: 1rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.06);
}

textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1rem;
    margin-bottom: 1rem;
    resize: none;
    overflow-y: auto;
    max-height: 200px;
    box-sizing: border-box;
}

.controls {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.controls button, .controls select, .controls input {
    flex: 1;
    padding: 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.controls button i {
    margin: 0;
    font-size: 1.2rem;
}

#speakBtn {
    font-weight: 800;
    text-transform: uppercase;
    background: hsl(137, 100%, 50%);
}

#pauseBtn {
    font-weight: 800;
    text-transform: uppercase;
    background: hsl(61, 100%, 50%);
}

#resumeBtn {
    font-weight: 800;
    text-transform: uppercase;
    background: hsl(190, 100%, 50%);
}

#stopBtn {
    font-weight: 800;
    text-transform: uppercase;
    background: hsl(343, 100%, 50%);
}

.controls button:hover {
    opacity: 0.7;
}

.progress {
    padding-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #333;
    max-width: 940px;
    box-sizing: border-box;
}

.progress span {
    margin: 1rem;
    padding: 1rem;
    border-radius: 6px;
    background: #ffaa00;
    color: #212121;
    font-weight: 800;
}

@media (max-width: 900px) {
    .tts-app {
        margin: 1rem;
        padding: 0.8rem;
      }

    .controls {
      flex-direction: column;
    }
  
    .controls button,
    .controls select,
    .controls input {
      flex: none;
      width: 100%;
      box-sizing: border-box;
    }

    #voiceFilter {
        margin-top: 0.5rem;
    }

    textarea {
        max-height: 300px;
        font-size: 1.1rem;
      }

      .progress {
        font-size: 1.4rem;
        text-align: center;
      }
    
      .progress span {
        display: block;
        margin: 0.5rem auto;
        padding: 0.6rem;
        font-size: 2.5rem;
      }
}